.paging-nav {
    width:100%;
    margin-top: 5px !important;
}
.paging-nav a {
    background: #01b4ff none repeat scroll 0 0;
    color: white;
    display: inline-block;
    font-weight: bold;
    margin: auto 1px;
    padding: 5px 10px;
    text-decoration: none;
}
.paging-nav .selected-page {
    background: #0086b9 none repeat scroll 0 0;
    font-weight: bold;
}
